* {
    font-family: 'Roboto', sans-serif;
}

a {
    color: black !important;
    text-decoration: none !important;

    &:hover {
        color: black !important;
        text-decoration: none !important;
    }
}

body {
    background-color: #F3F4F6 !important;
}

.bg-grey-custom {
    background-color: #e3e3e3  !important;
}

.btn-success {
    background-color: $color-primary !important;
    border: $color-primary !important;
}

.login-title {
    font-size: 40px;
}

.btn.delete {
    background-color: $color-delete !important;
}

.btn-export {
    background-color: $color-primary  !important;
    padding: 0 5px  !important;
    transition: transform 0.3s;
}

.btn-export:hover {
    background-color: $color-primary  !important;
    transform: translateY(-2px);
    transition: transform 0.3s;
    padding: 0 5px  !important;
}

@media(min-width:991px) {
    .br-mobile {
        display: none;
    }
}

.login-logo {
    width: 300px;
    margin-top: -50px;
    margin-bottom: 50px;
}