* {
    font-family: 'Roboto', sans-serif;
}

a {
    color: black !important;
    text-decoration: none !important;

    &:hover {
        color: black !important;
        text-decoration: none !important;
    }
}

body {
    background-color: #F3F4F6 !important;
}


.btn-success {
    background-color: $color-primary !important;
    border: $color-primary !important;
}
