
.homepage-container {
    margin-top: 100px;
}

.main-btn {
    background-color: white;
    padding: 15px 25px;
    margin: 15px 0;
    font-size: 30px;
    border: 2px solid black;


    &:hover {
        cursor: pointer;
        -webkit-box-shadow: 10px 10px 31px -5px rgba(0,0,0,0.21);
        -moz-box-shadow: 10px 10px 31px -5px rgba(0,0,0,0.21);
        box-shadow: 10px 10px 31px -5px rgba(0,0,0,0.21);
    }

    @media(max-width:991px) {
        background-color: white;
        padding: 75px 0;
        margin: 10% 45px 0;
    }
}


.top-buttons {
    position: absolute;
    top: 30px;
    right: 25px;

    a {
        margin-right: 25px;
        padding: 10px 15px;
        border: 2px solid black;

        &:hover {
            cursor: pointer;
        }
    }
}


.dashboard-block {
    padding: 15px;
    background-color: white;
    margin-bottom: 25px;

    .main-p {
        font-size: 26px;
    }
}