#admin {
    margin-left: 15%;
    width: 85%;
    padding: 5%;

    .user-table {
        width: 60%;
        tr {
            th, td {
                max-width: 200px;
            }
        }
        
    }

    
    .btn {
        min-width: 110px;
    }
}

.admin-nav {
    width: 15%;
    height: 100vh;
    position: fixed;
    background-color: #dddddd;
    border-right: 2px solid black;

    @media(max-width:991px) {
        display: none;
    }

    .admin-menu-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

        .admin-menu-item {
            padding: 15px;
            width: 100%;
            text-align: center;
            font-size: 22px;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}



.btn-is_admin {
    background-color: $color-primary !important;
}

.btn-is_not_admin {
    background-color: $color-delete !important;
}

.btn-verified {
    background-color: $color-primary !important;
}

.btn-not_verified {
    background-color: $color-delete !important;
}

.changelog-block {
    border: 1px solid grey;
    width: 100%;
    min-height: 500px;
    padding: 15px;
    background-color: white;

    .title {
        font-size: 22px;
        font-weight: bold;
        padding: 0;
        display: block;
    }
}